{% extends "layout.html" %}
{% block content %}
    <h1>Betegség felvétele</h1>
    <form method="POST">
         <div class="form-group">
             <label>Betegség adatai:</label>
             <input class="form-control" required type="text" name="nev" placeholder="Betegség megnevezése">
         </div>
         <div class="form-group">
                <label>Leírás:</label>
                <textarea class="form-control" required name="leiras" placeholder="Betegség leírása"></textarea>
            </div>
        
                
    <input name="mentes" type="submit" value="Mentés" class="btn btn-lg btn-success">
</form><br>
    {% if gyogyszer_neve%}
    {{ gyogyszer_neve }}

    {% endif %}



    {% for doc in gyogyszerek_listaja %}
    {{ doc.nev }}
    {% endfor %}
{% endblock content %}