{% extends "layout.html" %}
{% block content %}
<form method="POST">
    <h1  style="display: inline-block;">Betegségek</h1>
    {% if 'username' in session %}
        <input type="submit" name="uj_betegseg" value="Betegség felvétele" class="btn btn-lg btn-outline-success float-right"><br>
    {% endif %}
    <br>
    {% if 'mentes' in request.form %}
    <div class="alert alert-success">
            A megadott betegség rögzítésre került.
    </div>
        
    {% endif %}
    {% if 'torles' in request.form %}
<div class="alert alert-success">
    Az adatok sikeresen törölve lettek.
</div>
{% endif %}
    <br>
        Kereső: <input type="text" name="betegseg_neve">
        <input type="submit" value="Keresés" class="btn btn-primary">
    </form><br>
    {% if betegseg_neve%}
    <p class="font-weight-bold">Keresett szó: <span class="font-weight-normal">{{ betegseg_neve }} </span></p>

   

    {% if betegsegek_szama ==0 %}
    <p class="text-danger">Nem található betegség a keresett szó alapján. :(</p>
    {% endif %}
    {% endif %}
    <form id="modositas" method="POST">
    {% for doc in betegsegek %}
    <div class="card border-info mb-3 col-md-10">
        <div class="card-body">
                <button type="button" class="btn btn-danger float-right" name="torles" value="{{doc._id|int}}" onclick="myFunction(this)">Törlés</button>  
                <button type="button" class="btn btn-info float-right mr-1" name="modositas" value="{{doc._id|int}}" onclick="modosit(this)" >Módosítás</button>   
                <h4 class="card-title">{{ doc.betegseg_neve }}</h4>
                <p class="card-text">{{ doc.leiras }}</p>
        </div>
    </div>
    {% endfor %}
    </form>
    <script>
        
            function myFunction(id) {
            var txt;
            var r = confirm("Biztos, hogy törölni szeretnéd?");
            if (r == true) {
                var tmp=$(id).val();
                var x = document.createElement("INPUT");
                x.setAttribute("type", "text");
                x.setAttribute("value",tmp);
                x.setAttribute("name","torles");
                x.setAttribute("hidden","true");
                document.getElementById("modositas").appendChild(x);
                $('#modositas').submit()
    
            } else {
            
                }
            
            
    }
    
    function modosit(mutato){
                var id=$(mutato).val();
                var x = document.createElement("INPUT");
                x.setAttribute("type", "text");
                x.setAttribute("value",id);
                alert(id);
                x.setAttribute("name","modositas");
                x.setAttribute("hidden","true");
                document.getElementById("modositas").appendChild(x);
                document.getElementById("modositas").action="{{ url_for('betegseg_felvetele') }}";
                alert(id)
                $('#modositas').submit();
            }
    </script>

{% endblock content %}