{% extends "layout.html" %}
{% block content %}
<form method="POST">
    <h1  style="display: inline-block;">Betegségek</h1>
    
        {% if 'username' in session %}
          <input type="submit" name="uj_betegseg" value="Betegség felvétele"><br>
        {% endif %}
            Kereső: <input type="text" name="betegseg_neve">
            <input type="submit" value="Keresés">
        </form>
    </form><br>
    {% for doc in betegsegek %}
    {{ doc.betegseg_neve }} <br>
    {% endfor %}

{% endblock content %}