{% extends "layout.html" %}
{% block content %}
<form method="POST">
    <h1 style="display: inline-block">Gyógyszerek</h1>
    {% if 'username' in session %}
        <input type="submit" name="uj_gyogyszer" value="Gyógyszer felvétele" class="btn btn-lg btn-outline-success float-right"><br>
    {% endif %}
</form>
{% if 'mentes' in request.form %}
<div class="alert alert-success">
    Az adatok sikeresen rögzítve lettek.
</div>
{% endif %}
{% if 'torles' in request.form %}
<div class="alert alert-success">
    Az adatok sikeresen törölve lettek.
</div>
{% endif %}
<form method="POST" action="#" class="form-inline">
    Kereső: <input type="text" name="gyogyszer_neve" class="form-control mr-2">
    <select name="tipus" class="form-control mr-2">
        <option value="1">Gyógyszer neve</option>
        <option value="2">Betegségre ajánlott</option>
    </select>
    <input type="submit" value="Keresés" class="btn btn-primary form-control mr-2">
</form><br>
    {% if gyogyszer_neve%}
    <p class="font-weight-bold">Keresett szó: <span class="font-weight-normal">{{ gyogyszer_neve }}</span></p>

   

    {% if gyogyszerek_listaja.count() ==0 %}
    <p class="text-danger">Nem található gyógyszer a keresett szó alapján. :(</p>
    {% endif %}
    {% endif %}
    {{ request.form }}
    <form method="POST" name="modositas" id="modositas" action="#">
    {% for doc in gyogyszerek_listaja %}
    <div class="card border-success mb-3 col-md-10">
        <div class="card-body">
                <button type="button" class="btn btn-danger float-right" name="torles" value="{{doc._id}}" onclick="myFunction(this)">Törlés</button>  
                <button type="button" class="btn btn-info float-right mr-1" name=modositas value="{{doc._id}}" onclick="modosit(this)" >Módosítás</button>       
            <h4 class="card-title">{{ doc.nev }}</h4>
            
            <p class="card-text">Kiszerelés: {{ doc.kiszereles }}x</p>
            <p class="card-text text-danger text-right lead">{{ doc.ar }} Ft</p>
            <p class="card-text text-left lead"></p>Amire ajánlott:<br>
            <ul>
                {% for bet in doc['betegsegre_jo'] %}
                    <li style="float: left;margin-right: 25px;"><a href="betegseg?id={{bet}}">{{betegsegek_listaja[bet]}}</a> </li>
                {% endfor %}
                 </ul>
           
            </p>

            
        </div>
    </div>
    {% endfor %}
    </form>
    <script>
        
        function myFunction(id) {
        var txt;
        var r = confirm("Biztos, hogy törölni szeretnéd?");
        if (r == true) {
            var tmp=$(id).val();
            var x = document.createElement("INPUT");
            x.setAttribute("type", "text");
            x.setAttribute("value",tmp);
            x.setAttribute("name","torles");
            x.setAttribute("hidden","true");
            document.getElementById("modositas").appendChild(x);
            $('#modositas').submit()

        } else {
        
            }
        
        
}

function modosit(mutato){
            var id=$(mutato).val();
            var x = document.createElement("INPUT");
            x.setAttribute("type", "text");
            x.setAttribute("value",id);
            x.setAttribute("name","modositas");
            x.setAttribute("hidden","true");
            document.getElementById("modositas").appendChild(x);
            document.getElementById("modositas").action="{{ url_for('gyogyszer_felvetele') }}";
            $('#modositas').submit();
        }
</script>
{% endblock content %}