{% extends "layout.html" %}
{% block content %}
{% set modositas=False %}
{% if "modositas" in request.form %}
{% set modositas=True %}
{% endif %}
{% if modositas==False %}
    <h1>Gyógyszer felvétele</h1>
{% else %}
    <h1>Gyógyszer módosítása</h1>
{% endif %}
    <form method="POST" action="{{ url_for('gyogyszer') }}">
         <div class="form-group">
             <label>Név:</label>
             <input class="form-control" required type="text" name="nev" placeholder="Gyógyszer megnevezése" {% if(modositas==True) %}
             value="{{modositando.nev}}"
             {% endif %}
             >
         </div>
         <div class="form-group">
                <label>Ár:</label>
                <input class="form-control" required type="number" name="ar" placeholder="Gyógyszer egységára" {% if(modositas==True) %}
                value="{{modositando.ar}}"
                {% endif %}>
            </div>
         <div class="form-group">
                <label>Kiszerelés:</label>
                <input class="form-control" required type="number" name="kiszereles" placeholder="Egy csomag darabszáma" {% if(modositas==True) %}
                value="{{modositando.kiszereles}}"
                {% endif %}>
            </div>
            <div class="form-group">
                    <label>Betegségek, amikre jó:</label>
                    <input type="text" placeholder="Keresés" name="kereso" id="keres"><br>
                    {% for doc in betegsegek %}
                    <input  type="checkbox"  name="betegseg" class="betegseg"  value="{{ doc['_id']|int }}" {% if((modositas==True) and (doc['_id']|int in modositando.betegsegre_jo))  %}
                    checked
                    {% endif %}><span>{{doc['betegseg_neve']}}</span>
                    {% endfor %}
                </div>
                
    <button name="mentes" type="submit" class="btn btn-lg btn-success" {% if(modositas!=True) %}
    value="beszuras"
    {% else %}
    value={{ modositando['_id'] }}
    {% endif %} 
    >Mentés</button>
</form><br>
    {% if gyogyszer_neve%}
    {{ gyogyszer_neve }}

    {% endif %}



    {% for doc in gyogyszerek_listaja %}
    {{ doc.nev }}
    {% endfor %}
    <script>
    $('#keres').on('keyup', function(){
        var keres=$('#keres').val();
        check=$('input[type="checkbox"]');
        check.each(function(){
            var text=$(this).next('span').text();
            if(text.toUpperCase().search(keres.toUpperCase())<0){
                $(this).hide();
                $(this).next('span').hide()
            }else {
                $(this).show();
                $(this).next('span').show();
            }
        })
    });
    </script>
{% endblock content %}